.button {
    color: var(--bg-color);
    background: var(--brand-button-primary);
    padding: 19px 52px;
    font-size: 30px;
    border: 0;
    border-radius: 2px ;
    font-family: var(--ff-inter);
}

.button a {
    color: var(--bg-color);
    border: none;
    font-size: 30px;
}


@media (max-width: 425px) {
    .button {
        color: var(--bg-color);
        background: var(--brand-button-primary);
        padding: 5.5px 38px;

        font-size: 10px;
        border: 0;
        border-radius: 2px ;
    }

    .button a {
        color: var(--bg-color);
        border: none;
        font-size: 10px;
    }
}